/*! Asciidoctor default stylesheet | MIT License | https://asciidoctor.org */
/* Uncomment the following line when using as a custom stylesheet */
/* @import "https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic%7CNoto+Serif:400,400italic,700,700italic%7CDroid+Sans+Mono:400,700"; */
html{font-family:sans-serif;-webkit-text-size-adjust:100%}
table{border-collapse:collapse;border-spacing:0}
*{box-sizing:border-box;margin:0;padding:0}
html,body{font-size:100%}
body{background:#A3A380;color:#FFFBDD;padding:0;margin:0;font-family:"Bahnschrift light","Noto Serif","DejaVu Serif",serif;line-height:1;position:relative;cursor:auto;-moz-tab-size:4;-o-tab-size:4;tab-size:4;word-wrap:anywhere;-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased}
p{line-height:1.6;margin-bottom:1.25em;text-rendering:optimizeLegibility}
h1,h2,h3{font-family: "Impact","Open Sans","DejaVu Sans",sans-serif;font-weight:300;font-style:normal;color:#FFFBDD;text-rendering:optimizeLegibility;margin-top:1em;margin-bottom:.5em;line-height:1.0125em}
ul,ol{margin-left:1.5em}
table{background:#7C7C63;margin-bottom:1.25em;word-wrap:normal}
table thead,table tfoot{background:#6A6A55;}
table thead tr th,table thead tr td,table tfoot tr th,table tfoot tr td{padding:.5em .625em .625em;font-size:inherit;color:#FFFBDD;text-align:left}
table tr th,table tr td{padding:.5625em .625em;font-size:inherit;color:#FFFBDD}
table thead tr th,table tfoot tr th,table tbody tr td,table tr td,table tfoot tr td{line-height:1.6}
.stretch{width:100%}
p.tableblock:last-child{margin-bottom:0}
table.tableblock,th.tableblock,td.tableblock{border:0 solid #FFFBDD}
table.grid-all>*>tr>*{border-width:1px}
th.valign-top,td.valign-top{vertical-align:top}
p.tableblock{font-size:1em}
h1,h2,p,td.content{letter-spacing:-.01em}
p strong,td.content strong{letter-spacing:-.005em}
p,dt,td.content,td.hdlist1{font-size:1.0625rem}

#logbookTable {
    display: flex;
    justify-self: center;
    width: 80%;
}

#logbookIntro {
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: end;
    width: 80%;
    height: 20vh;
}

#logbookIntro h1, #logbookIntro p {
    margin: 5px;
}